{
  "extends": ["eslint:recommended", "angular"],
  "env": {
    "browser": true,
    "jasmine": true,
    "es6": true
  },
  "globals": {    
    "angular": true,    
    "module": true,
    "require": true    
  },
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": [1]    
  },  
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true 
    }
  }
}
